/* General css */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
}

a {
  float: center;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  color: black;
  border: green;
  border-style: solid;
  width: 40%;
  margin-left: 30%;
  margin-top: 5px;
}

a:hover {
  background-color: #4fab4c;
  color: black;
  cursor: pointer;
}

a.active {
  background-color: #04aa6d;
  color: white;
}

a.gebruiker {
  float: center;
  text-align: center;
  text-decoration: none;
  display: block;
  color: black;
  border: green;
  border-style: solid;
  width: 50%;
  margin-left: 20%;
  margin-top: 5px;
}

h1.loading {
  float: center;
  text-align: center;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}