/* General css */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
}

a {
  float: center;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  color: black;
  border: green;
  border-style: solid;
  width: 40%;
  margin-left: 30%;
  margin-top: 5px;
  background-color: white;
}

a:hover {
  background-color: #4fab4c;
  color: black;
  cursor: pointer;
}

a.active {
  background-color: #04aa6d;
  color: white;
}

a.gebruiker {
  float: center;
  text-align: center;
  text-decoration: none;
  display: block;
  color: black;
  border: green;
  border-style: solid;
  width: 50%;
  margin-left: 20%;
  margin-top: 5px;
  background-color: white;
}

a.gebruiker:hover {
  background-color: #4fab4c;
  color: black;
  cursor: pointer;
}

h1 {
  float: center;
  text-align: center;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

div.row {
  margin: 5%;
  text-align: center;
  float: center;
}

div.imageOption {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
  border: green;
  border-style: solid;
  margin-right: 10px;
  height: 500px;
  background-color: white;
}

div.imageOption:hover {
  background-color: #4fab4c;
  color: black;
  cursor: pointer;
}

div.imageResult {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
  border: green;
  border-style: solid;
  margin-right: 10px;
  height: 500px;
  background-color: white;
}

img {
  width: 100%;
}

body {
  background-color: rgb(52, 96, 175, 1);
  opacity: 1;
}
